/* common */
body {
  margin: 0;
}
li {
  list-style: none;
}

/* header */
header {
  background-color: aqua;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  line-height: 200px;
  font-size: 40px;

  position: relative;
}
h1 {
  margin: 0;
  padding-right: 60px;
  display: inline-block;
  order: 1;
}
#dog {
  border-radius: 50%;
  position: absolute;
  top: 100px;
  left: 100px;
}

/* summary */
.summary {
  height: 400px;
  background-color: antiquewhite;
  position: relative;
}
.summary p {
  background-color: lightpink;
  width: 60%;
  margin: auto;
  text-align: center;
  height: 140px;
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translateY(-50%) translateX(-50%);
}

/* タブ全体 */
.wrap {
  padding-top: 3rem;
  margin: 0 auto;
  margin-bottom: 12px;
  width: 90%;
  height: 900px;
}
/* タブメニュー */
.tab-collection {
  display: flex;
  margin-bottom: 0;
}
.tab {
  font-size: 24px;
  margin: 0;
  padding: 24px 48px;
  cursor: pointer;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
}
.tab + .tab {
  margin-left: 20px;
}
/* タブの中身 */
.menu-wrap {
  height: 800px;
}
.menu-container {
  position: absolute;
  width: 90%;
  height: 800px;
}
.menu-box {
  display: flex;
  display: none;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  width: 100%;
}
.menu-box p {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.menu {
  padding: 0;
  background-color: #eee;
  transition: all .2s;
  cursor: pointer;
  flex-wrap: wrap;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-top: 12px;
  margin-left: 36px;
  text-align: center;
}
.active {
  display: inline-block;
  background-color: aqua;
}
/* タグ名：愚痴　Line風 */
.line-bc {
  height: 80%;
  padding: 32px 24px;
  max-width: 450px;
  margin: 32px auto;
  font-size: 14px;
  background: #7da4cd;
  overflow: scroll;
}
.says {
  display: block;
  position: relative; 
  margin: 0 0 0 auto;
  text-align: right;
  padding: 10px;
  max-width: 50%;
  border-radius: 12px;
  background: #edf1ee;
}
.says:after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #edf1ee;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
.says p {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.mycomment {
  margin: 10px 0;
}
.mycomment p {
  display: block;
  position: relative; 
  margin: 0 0 0 0;
  padding: 8px;
  max-width: 50%;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #30e852;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

/* footer */
footer {
  background-color: slategrey;
  position: relative;
  height: 80px;
}
footer small {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}